body {
    font-family: Futura New Bold, sans-serif !important;
    font-size: small !important;
}

.btn-flat {
    color: #0a6aa1 !important;
}
.ahover{
    background-color: #f1f1f1 !important;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.border-fields {
    border: 1px solid teal !important;
    border-radius: 3px !important;
}
#partsTable td,th {
    padding: 0px 5px !important;
    margin: 0px 5px !important;
}
#partsTable td input{
    margin:0 !important;
    height:2em !important;
}
#totallosetable td,th {
    padding: 0px 5px !important;
    margin: 0px 5px !important;
}
#totallosetable tr {
    padding: 0px 5px !important;
    margin: 0px 5px !important;
}
#totallosetable td input{
    margin:0 !important;
    height:2em !important;
}
.image-uploader{
    border-radius: 5px;
}
.image-uploader .uploaded .uploaded-image {
    display: inline-block;
    width: calc(33.3333333% - 1rem); !important;
    padding-bottom: calc(33.3333333% - 1rem); !important;
    height: 0;
    position: relative;
    margin: .5rem;
    background: red; !important;
    cursor: default;
}
.hideTotalLose,.hideTotals{
    display: none;
}
#authorityToGarage{

}
ul.stepper.horizontal .step .step-content .step-actions{
    position: absolute !important;
    bottom:auto !important;
    left: auto !important;
}
.table-lg td,th{
    text-align: center !important;
}
.spinner-blue-only{
    border-color: white !important;
}
.showLoadingButton{
    display: block !important;
}
.showActionButton{
    display: block !important;
}
.hideLoadingButton{
    display: none !important;
}
.hideActionButton{
    display: none !important;
}
h5{
    font-size: 1rem !important;
}
h6{
    font-size: 0.8rem !important;
}
.error{
    color: red !important;
}
.hideSubrogation{
    display: none !important;
}

